<!DOCTYPE html>
<html>
<head>
    <title>Sign up</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h2>GraphXR iframe example</h2>
    <form id="signup" name="signup" method="post" action="/signup">
        <label for="email">Email Address: </label>
        <input class="text" name="email" type="email" />
        <label for="firstName">First Name: </label>
        <input name="firstName" type="text" />
        <label for="lastName">Last Name: </label>
        <input name="lastName" type="text" />
        <label for="password">Password: </label>
        <input name="password" type="password" />
        <div class="btn-group">
            <input class="btn active" type="submit" value="Sign Up" />
            <a role="button" href="/signin" class="btn" > Sign In </a>
        </div>
    </form>
</body>

</html>